body {
    background: #ccc;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms ease-in-out;
}

.selection:hover {
    transform: scale(1.1);
}